@page "/Game/{name}"

@if(IsGameEnabled)
{
    <div class="header">

        <div class="header-score">
            <div class="header-score-name">
                <p>RESULT</p>
            </div>
            <div class="header-score-moves">
                <p>Moves</p>
                <p>@NumberOfMoves</p>
                <p>Time</p>
                <p>@($"{TimeSpan.FromMilliseconds(time):hh\\:mm\\:ss}")</p>
            </div>
            @if (!HasGameStarted)
            {
                <div class="header-score-info">
                    Tap the card to start the game
                </div>
            }
        </div>

        <div class="header-highscore">
            <p>HIGHSCORE</p>
            @foreach(var item in latesScores)
            {
                <p>@item.User @item.Result @item.Time</p>
            }
        </div>

        <div class="header-joined">
            <div class="header-joined-title">
                <img src="images/player.png" alt="player" />
            </div>
            @foreach (var item in ActivePlayerList)
            {
                <div class="header-joined-player">
                    <p>@item.JoinTime.ToString("hh:mm:ss")</p><p>@item.Name</p>
                </div>
            }
        </div>

        <div class="header-login">
            <div class="header-login-img">
                <img src="images/avatar.png" alt="avatar" />
            </div>
            <div class="header-login-name">
                <p>Logged as:</p>
                <p>@PlayerData.Name</p>
            </div>
            <div class="header-login-jwt">
                <p>@JwtExpireTime</p>
            </div>
        </div>

    </div>
    <div class="game">
        <div class="card" @onclick="() => OnCardTap(0)">@Board[0].Show</div>
        <div class="card" @onclick="() => OnCardTap(1)">@Board[1].Show</div>
        <div class="card" @onclick="() => OnCardTap(2)">@Board[2].Show</div>
        <div class="card" @onclick="() => OnCardTap(3)">@Board[3].Show</div>
        <div class="card" @onclick="() => OnCardTap(4)">@Board[4].Show</div>
        <div class="card" @onclick="() => OnCardTap(5)">@Board[5].Show</div>
        <div class="card" @onclick="() => OnCardTap(6)">@Board[6].Show</div>
        <div class="card" @onclick="() => OnCardTap(7)">@Board[7].Show</div>
        <div class="card" @onclick="() => OnCardTap(8)">@Board[8].Show</div>
        <div class="card" @onclick="() => OnCardTap(9)">@Board[9].Show</div>
        <div class="card" @onclick="() => OnCardTap(10)">@Board[10].Show</div>
        <div class="card" @onclick="() => OnCardTap(11)">@Board[11].Show</div>
        <div class="card" @onclick="() => OnCardTap(12)">@Board[12].Show</div>
        <div class="card" @onclick="() => OnCardTap(13)">@Board[13].Show</div>
        <div class="card" @onclick="() => OnCardTap(14)">@Board[14].Show</div>
        <div class="card" @onclick="() => OnCardTap(15)">@Board[15].Show</div>
    </div>
}
else
{
    <div class="end">
        <p>THE END</p>
        <p>Result:</p>
        <p>Moves: @NumberOfMoves</p>
        <p>Time: @($"{TimeSpan.FromMilliseconds(time):hh\\:mm\\:ss}")</p>
        <button @onclick="@GenerateNewBoard">PLAY AGAIN</button>
    </div>
}