@page "/Game/{name}"
@using MemoryGame.Components.GameBoard

@if(!GameData.HasFinished)
{
    <div class="header">

        <div class="header-score">
            <div class="header-score-name">
                <p>RESULT</p>
            </div>
            <div class="header-score-moves">
                <p>Moves</p>
                <p>@GameData.Moves</p>
                <p>Time</p>
                <p>@($"{TimeSpan.FromSeconds(GameData.Time):hh\\:mm\\:ss}")</p>
            </div>
            @if (!GameData.HasGameStarted)
            {
                <div class="header-score-info">
                    Tap the card to start the game
                </div>
            }
        </div>

        <div class="header-highscore">
            <div class="header-highscore-title">
                <p>HIGHSCORE</p>
            </div>
            @foreach(var item in Highscore)
            {
                <div class="header-highscore-result">
                    <p><span>@item.Name</span> t:@item.Duration m:@item.Moves</p>
                </div>
            }
        </div>

        <!-- Card showing clients that connects to the game hub -->
        <div class="header-joined">
            <div class="header-joined-title">
                <img src="images/player.png" alt="player" />
            </div>
            @if(IsSignalRHubAvailable)
            {
                @foreach (var item in ActivePlayerList)
                {
                    <div class="header-joined-player">
                        <p>@item.JoinTime.ToString("hh:mm:ss")</p><p>@item.Name</p>
                    </div>
                }
            }
            else
            {
                //SignalR connection is lost no live feed available
                <div class="header-joined-disconnected">
                    <p>SignalR Hub no connection!</p>
                </div>
                <div class="spinner"/>
            }
        </div>

        <div class="header-login">
            <div class="header-login-img">
                <img src="images/avatar.png" alt="avatar" />
            </div>
            <div class="header-login-name">
                <p>Logged as:</p>
                <p>@PlayerData.Name</p>
            </div>
            <div class="header-login-jwt">
                <p>@JwtExpireTime</p>
            </div>
        </div>

    </div>
    <div class="game">
        <MemoryBoard 
            BoardSize="4"
            OnGameUpdate="OnGameUpdate" 
            @ref="MemoryGameComponentReference"/>
    </div>
}
else
{
    <div class="end">
        <p>THE END</p>
        <p>Result:</p>
        <p>Moves: @GameData.Moves</p>
        <p>Time: @($"{TimeSpan.FromSeconds(GameData.Time):hh\\:mm\\:ss}")</p>
        <button @onclick="RestartTheGame">PLAY AGAIN</button> 
    </div>
}